export(media)
export(varianza)
export(desviacion)
export(cuantiles)
export(normalizar)
export(estandarizar)
export(correlacion)
export(regresion_lineal)
export(grafica)
export(grafica_residuos)
export(datos_ejemplo)
