export(mean_na)
export(variance_na)
export(sd_na)
export(quantiles)
export(normalize)
export(standardize)
export(correlation)
export(linear_regression)
export(plot_quick)
export(plot_residuals)
export(example_data)
export(discrete_binomial_distribution)
export(discrete_geometric_distribution)
export(discrete_poisson_distribution)
export(standard_normal_distribution)
export(student_t_distribution)
