# --- Descriptive & Basic Utilities ---
export(mean_na)
export(variance_na)
export(sd_na)
export(quantiles)
export(normalize)
export(standardize)
export(correlation)
export(linear_regression)
export(plot_quick)
export(plot_residuals)
export(example_data)

# --- Discrete & Standard Distributions ---
export(get_discrete_binomial_distribution)
export(get_discrete_geometric_distribution)
export(get_discrete_poisson_distribution)
export(get_standard_normal_distribution)
export(get_student_t_distribution)

# --- Sampling Distributions ---
export(get_sample_mean_infinite_population)
export(get_sample_mean_finite_population)
export(get_sample_quasi_variance_distribution)
export(get_sample_proportion_distribution)
export(get_variance_of_sample_mean)

# --- Goodness of Fit Tests ---
export(test_chi_squared)
export(get_expected_normaldistr_counts)
export(get_expected_poissondistr_counts)
export(get_expected_binomialdistr_counts)

# --- Confidence Intervals ---
export(get_ci_mean_normal)
export(get_ci_variance_normal)
export(get_ci_proportion_binomial)
export(get_ci_diff_means)
export(get_ci_ratio_variances)
export(get_ci_diff_proportions)
export(get_matrix_chi_squared_statistic)
export(get_matrix_expected_values)
export(get_matrix_chi_critical_value)
